.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.button {
  border-radius: 15px;
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  background-color: blueviolet;
  color: blanchedalmond;
}

.button:hover {
  background-color: gray;
}
